<?xml version="1.0" encoding="utf-8"?>
<!--   ~ (c) Meta Platforms, Inc. and affiliates. Confidential and proprietary. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meta.wearable.dat.display"
    android:versionCode="1003791081"
    android:versionName="0.8.0.30.0" >

    <uses-sdk
        android:minSdkVersion="29"
        android:targetSdkVersion="33" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application />

</manifest>